# 데이터 크롤링

웹 페이지는 기본 적으로 HTML 문서로 구성되어 있다.

이외에 javascript, css도 사용되나, 데이터 크롤링에서는 데이터의 내용을 다루는 것으르로 여기서는 HTML 문서를 기본으로 살펴본다.

우선 아래와 같은 라이브러리가 필요하다

In [1]:
from bs4 import BeautifulSoup # 파이썬으로 HTML을 다루기 위한 라이브러리
import requests # 요청을 위한 라이브러리
import time # 시간을 조절하기 위한 라이브러리
import pandas as pd

크롤링할 웹페이지의 주소를 복사하여 변수에 저장한다.

(주의) 항상 메인 화면에서 무언가를 검색한 후 해당 페이지의 URL을 가져오기

네이버의 회차별 로또 번호를 제공하는 기능을 통해 로또 정보의 데이터 크롤링을 진행해보자.

로또 페이지를 가져온 URL:
https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%EB%A1%9C%EB%98%90

In [ ]:
url = 'https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%EB%A1%9C%EB%98%90'
res = requests.get(url)
res

웹페이지를 requests를 통해 가져왔다. 'Respense [200]'이 출력되면 정상적으로 작동한 것

In [ ]:
res.text[0:3000] # 앞에서 3000자만 출력하였다.

'<!doctype html> <html lang="ko"><head> <meta charset="utf-8"> <meta name="referrer" content="always">  <meta name="format-detection" content="telephone=no,address=no,email=no"> <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=2.0"> <meta property="og:title" content="로또 : 네이버 통합검색"/> <meta property="og:image" content="https://ssl.pstatic.net/sstatic/search/common/og_v3.png"> <meta property="og:description" content="\'로또\'의 네이버 통합검색 결과입니다."> <meta name="description" lang="ko" content="\'로또\'의 네이버 통합검색 결과입니다."> <title>로또 : 네이버 통합검색</title> <link rel="shortcut icon" href="https://ssl.pstatic.net/sstatic/search/favicon/favicon_191118_pc.ico">  <link rel="search" type="application/opensearchdescription+xml" href="https://ssl.pstatic.net/sstatic/search/opensearch-description.https.xml" title="Naver" /><script> if (top.frames.length!=0 || window!=top) window.open(location, "_top"); </script><link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/sstatic/search/pc/css/search1_230727.css"> <link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/sstatic/search/pc/css/search2_230727.css"> <link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/sstatic/search/pc/css/sp_autocomplete_220526.css"><script> naver = window.naver || {}; naver.search = naver.search || {}; naver.search.abt_param = ""; </script><script> naver = window.naver || {}; naver.search = naver.search || {}; naver.search.error = (function () { var errorList = Array() ; return { add : function (s) { errorList.push(s) ; }, clear : function () { delete errorList ; }, get : function (s) { return errorList ; }, getString : function (d) { if (typeof d === \'undefined\') d = \'|\' ; return errorList.join(d) ; } } })(); function nx_add_event_handler (event, func) { $Fn(func).attach(document, event) ; } function bt(id, after) { document.getElementById(id).src = after; } function document_write (s) { document.write(s) ; } </script><script> var _nx_js_load = (function () { var scrs = {} ; return function (script, callback) { scrs[script] = {} ; scrs[script].domscript = document.createElement(\'script\'); scrs[script].domscript.src = script ; if (callback) scrs[script].callback = (callback instanceof Array) ? callback : [callback]; scrs[script].domscript.onloadDone = false; scrs[script].domscript.onload = function() { scrs[script].domscript.onloadDone = true; if (scrs[script].callback) { for (var i = 0; i < scrs[script].callback.length; i++) { scrs[script].callback[i]() ; } } scrs[script].domscript.onload = scrs[script].domscript.onreadystatechange = null; } ; scrs[script].domscript.onreadystatechange = function() { if ( ("loaded" === scrs[script].domscript.readyState || "complete" === scrs[script].domscript.readyState) && !scrs[script].domscript.onloadDone ) { scrs[script].domscript.onload(); } } ; document.getElementsByTagName(\'head\')[0].appendChild(scrs[script].domscript); }; })() ; var nx_js_defer_load = (function() { var info = {} ; return f'

위와 같이 text를 불려오면 웹 페이지의 html을 가져온다. 하지만 출력결과를 잘 보면 진짜 html 문서가 아닌 양쪽에 '가 있는 text 문서이다. 이를 진짜 html 문서로 변환해보자

In [ ]:
html = BeautifulSoup(res.text)
# html # html을 출력해 보면 문자열이 아닌 html 형식대로 출력된다

## 원하는 정보 찾기

### 로또 정보 예제

#### 로또 회차 정보 찾기

웹 페이지에서 로또 회차가 나와았는 부분에서 우클릭 후 '검사'를 클릭한다.
페이지 소스에서 로또 회차 정보가 a tag 안에 들어있는 것을 확인한다.

``` html
<a onclick="return goOtherCR(this,&quot;a=nco_x5e*2&amp;r=1&amp;i=&quot;+urlencode(&quot;0011AD9E_000001E7C267&quot;)+&quot;&amp;u=&quot;+urlencode(this.href));" class="text _select_trigger _text" href="" aria-expanded="false">1078회차 (2023.07.29.)</a>
```

a 라는 tag 만으로 원하는 위치를 찾기에는 페이지의 a 태그가 너무 많다.

In [ ]:
current = html.find('a')
current

위와 같이 원하는 위치의 값이 아니다.

좀 더 구체적으로 찾기 위해서 class 이름을 알려주자

In [ ]:
current = html.find('a', class_="text _select_trigger _text")
current

<a aria-expanded="false" class="text _select_trigger _text" href="" onclick='return goOtherCR(this,"a=nco_x5e*2&amp;r=1&amp;i="+urlencode("0011AD9E_000001E7C267")+"&amp;u="+urlencode(this.href));'>1078회차 (2023.07.29.)</a>

class에 _를 붙여 위와 같이 검색하면 회차 정보가 담긴 원하는 위치의 tag를 검색이 가능하다.

find() 함수를 사용하여 찾은 결과도 html이기 때문에 tag 안에 tag를 찾는다면 find 함수를 연쇄적으로 사용하여 검색이 가능하다.

```
current = html.find(---).find(---)
```

찾은 current는 tag와 text로 이루어져 있다. 원하는 정보는 text 정보이므로 text만 추출해보자

In [ ]:
current.text

'1078회차 (2023.07.29.)'

text를 이용해 추출한 결과는 더이상 html이 아니라 문자열이다. 문자열 함수를 이용하여 회차 정보 중 숫자만 추출할 수 있다.

In [ ]:
current = int(current.text.split(' ')[0].replace('회차',''))
current

1078

- 공백을 기준으로 문자열을 나눈 후
- 만들어진 list에서 앞부분을 추출
- '회차' 문자를 replace 함수를 제거한다.
- 정수형으로 변환한다.

#### 로또 번호 찾기

In [ ]:
numbers = html.find('div',class_="win_ball").text.split()
numbers

['6', '10', '11', '14', '36', '38', '43']

리스트 안에 문자열이 담겨있는 형태로 저장되어 있으므로 각 요소를 map() 함수를 이용하여 정수형으로 변환하자

In [ ]:
numbers = list(map(int, numbers))
numbers

[6, 10, 11, 14, 36, 38, 43]

map 함수를 통해 각 변수를 int 형으로 변환하고, 이 값들을 다시 list로 변환한다.

#### 모든 회차의 정보 저장하기

"https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=1077%ED%9A%8C%EB%A1%9C%EB%98%90"

위 url은 '1077회로또'를 검색한 결과이다.

여기서 1077 부분이 회차 정보를 담당하므로 이를 format 함수를 사용하여, 다른 회차로 대치 하면 모든 회차의 로또 정보를 얻을 수 있다.

(모든 회차정보를 얻는데는 시간이 많이 소요되므로 100회까지만 데이터를 획득해보자)

In [ ]:
total = []

for n in range(1, 101): # 1회차 부터 100회차까지
# for n in range(1, current + 1): # 1회차 부터 현재 회차까지
  url = requests.get(f"https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query={n}%ED%9A%8C%EB%A1%9C%EB%98%90") # format 함수를 적용한다.
  if url.status_code != 200:
    print('get error... (code = {})'.format(url.status_code))
    continue

  html = BeautifulSoup(url.text)

  numbers = html.find('div',class_="win_ball").text.split()
  numbers = list(map(int, numbers))

  total.append(numbers)

  print('{}회 로또 데이터 저장중... '.format(n), numbers)

  time.sleep(0.3) # 트래픽 과부하 방지

1회 로또 데이터 저장중...  [10, 23, 29, 33, 37, 40, 16]
2회 로또 데이터 저장중...  [9, 13, 21, 25, 32, 42, 2]
3회 로또 데이터 저장중...  [11, 16, 19, 21, 27, 31, 30]
4회 로또 데이터 저장중...  [14, 27, 30, 31, 40, 42, 2]
5회 로또 데이터 저장중...  [16, 24, 29, 40, 41, 42, 3]
6회 로또 데이터 저장중...  [14, 15, 26, 27, 40, 42, 34]
7회 로또 데이터 저장중...  [2, 9, 16, 25, 26, 40, 42]
8회 로또 데이터 저장중...  [8, 19, 25, 34, 37, 39, 9]
9회 로또 데이터 저장중...  [2, 4, 16, 17, 36, 39, 14]
10회 로또 데이터 저장중...  [9, 25, 30, 33, 41, 44, 6]
11회 로또 데이터 저장중...  [1, 7, 36, 37, 41, 42, 14]
12회 로또 데이터 저장중...  [2, 11, 21, 25, 39, 45, 44]
13회 로또 데이터 저장중...  [22, 23, 25, 37, 38, 42, 26]
14회 로또 데이터 저장중...  [2, 6, 12, 31, 33, 40, 15]
15회 로또 데이터 저장중...  [3, 4, 16, 30, 31, 37, 13]
16회 로또 데이터 저장중...  [6, 7, 24, 37, 38, 40, 33]
17회 로또 데이터 저장중...  [3, 4, 9, 17, 32, 37, 1]
18회 로또 데이터 저장중...  [3, 12, 13, 19, 32, 35, 29]
19회 로또 데이터 저장중...  [6, 30, 38, 39, 40, 43, 26]
20회 로또 데이터 저장중...  [10, 14, 18, 20, 23, 30, 41]
21회 로또 데이터 저장중...  [6, 12, 17, 18, 31, 32, 21]
22회 로또 데이터 저장중...  [4, 5, 6, 8, 17, 39, 25]
23회 로또 데이터 저장중...  [5, 13, 17, 18, 33, 42, 44]
24회 로또 데이터 저장중...  [7, 8, 27, 29, 36, 43, 6]
25회 로또 데이터 저장중...  [2, 4, 21, 26, 43, 44, 16]
26회 로또 데이터 저장중...  [4, 5, 7, 18, 20, 25, 31]
27회 로또 데이터 저장중...  [1, 20, 26, 28, 37, 43, 27]
28회 로또 데이터 저장중...  [9, 18, 23, 25, 35, 37, 1]
29회 로또 데이터 저장중...  [1, 5, 13, 34, 39, 40, 11]
30회 로또 데이터 저장중...  [8, 17, 20, 35, 36, 44, 4]
31회 로또 데이터 저장중...  [7, 9, 18, 23, 28, 35, 32]
32회 로또 데이터 저장중...  [6, 14, 19, 25, 34, 44, 11]
33회 로또 데이터 저장중...  [4, 7, 32, 33, 40, 41, 9]
34회 로또 데이터 저장중...  [9, 26, 35, 37, 40, 42, 2]
35회 로또 데이터 저장중...  [2, 3, 11, 26, 37, 43, 39]
36회 로또 데이터 저장중...  [1, 10, 23, 26, 28, 40, 31]
37회 로또 데이터 저장중...  [7, 27, 30, 33, 35, 37, 42]
38회 로또 데이터 저장중...  [16, 17, 22, 30, 37, 43, 36]
39회 로또 데이터 저장중...  [6, 7, 13, 15, 21, 43, 8]
40회 로또 데이터 저장중...  [7, 13, 18, 19, 25, 26, 6]
41회 로또 데이터 저장중...  [13, 20, 23, 35, 38, 43, 34]
42회 로또 데이터 저장중...  [17, 18, 19, 21, 23, 32, 1]
43회 로또 데이터 저장중...  [6, 31, 35, 38, 39, 44, 1]
44회 로또 데이터 저장중...  [3, 11, 21, 30, 38, 45, 39]
45회 로또 데이터 저장중...  [1, 10, 20, 27, 33, 35, 17]
46회 로또 데이터 저장중...  [8, 13, 15, 23, 31, 38, 39]
47회 로또 데이터 저장중...  [14, 17, 26, 31, 36, 45, 27]
48회 로또 데이터 저장중...  [6, 10, 18, 26, 37, 38, 3]
49회 로또 데이터 저장중...  [4, 7, 16, 19, 33, 40, 30]
50회 로또 데이터 저장중...  [2, 10, 12, 15, 22, 44, 1]
51회 로또 데이터 저장중...  [2, 3, 11, 16, 26, 44, 35]
52회 로또 데이터 저장중...  [2, 4, 15, 16, 20, 29, 1]
53회 로또 데이터 저장중...  [7, 8, 14, 32, 33, 39, 42]
54회 로또 데이터 저장중...  [1, 8, 21, 27, 36, 39, 37]
55회 로또 데이터 저장중...  [17, 21, 31, 37, 40, 44, 7]
56회 로또 데이터 저장중...  [10, 14, 30, 31, 33, 37, 19]
57회 로또 데이터 저장중...  [7, 10, 16, 25, 29, 44, 6]
58회 로또 데이터 저장중...  [10, 24, 25, 33, 40, 44, 1]
59회 로또 데이터 저장중...  [6, 29, 36, 39, 41, 45, 13]
60회 로또 데이터 저장중...  [2, 8, 25, 36, 39, 42, 11]
61회 로또 데이터 저장중...  [14, 15, 19, 30, 38, 43, 8]
62회 로또 데이터 저장중...  [3, 8, 15, 27, 29, 35, 21]
63회 로또 데이터 저장중...  [3, 20, 23, 36, 38, 40, 5]
64회 로또 데이터 저장중...  [14, 15, 18, 21, 26, 36, 39]
65회 로또 데이터 저장중...  [4, 25, 33, 36, 40, 43, 39]
66회 로또 데이터 저장중...  [2, 3, 7, 17, 22, 24, 45]
67회 로또 데이터 저장중...  [3, 7, 10, 15, 36, 38, 33]
68회 로또 데이터 저장중...  [10, 12, 15, 16, 26, 39, 38]
69회 로또 데이터 저장중...  [5, 8, 14, 15, 19, 39, 35]
70회 로또 데이터 저장중...  [5, 19, 22, 25, 28, 43, 26]
71회 로또 데이터 저장중...  [5, 9, 12, 16, 29, 41, 21]
72회 로또 데이터 저장중...  [2, 4, 11, 17, 26, 27, 1]
73회 로또 데이터 저장중...  [3, 12, 18, 32, 40, 43, 38]
74회 로또 데이터 저장중...  [6, 15, 17, 18, 35, 40, 23]
75회 로또 데이터 저장중...  [2, 5, 24, 32, 34, 44, 28]
76회 로또 데이터 저장중...  [1, 3, 15, 22, 25, 37, 43]
77회 로또 데이터 저장중...  [2, 18, 29, 32, 43, 44, 37]
78회 로또 데이터 저장중...  [10, 13, 25, 29, 33, 35, 38]
79회 로또 데이터 저장중...  [3, 12, 24, 27, 30, 32, 14]
80회 로또 데이터 저장중...  [17, 18, 24, 25, 26, 30, 1]
81회 로또 데이터 저장중...  [5, 7, 11, 13, 20, 33, 6]
82회 로또 데이터 저장중...  [1, 2, 3, 14, 27, 42, 39]
83회 로또 데이터 저장중...  [6, 10, 15, 17, 19, 34, 14]
84회 로또 데이터 저장중...  [16, 23, 27, 34, 42, 45, 11]
85회 로또 데이터 저장중...  [6, 8, 13, 23, 31, 36, 21]
86회 로또 데이터 저장중...  [2, 12, 37, 39, 41, 45, 33]
87회 로또 데이터 저장중...  [4, 12, 16, 23, 34, 43, 26]
88회 로또 데이터 저장중...  [1, 17, 20, 24, 30, 41, 27]
89회 로또 데이터 저장중...  [4, 26, 28, 29, 33, 40, 37]
90회 로또 데이터 저장중...  [17, 20, 29, 35, 38, 44, 10]
91회 로또 데이터 저장중...  [1, 21, 24, 26, 29, 42, 27]
92회 로또 데이터 저장중...  [3, 14, 24, 33, 35, 36, 17]
93회 로또 데이터 저장중...  [6, 22, 24, 36, 38, 44, 19]
94회 로또 데이터 저장중...  [5, 32, 34, 40, 41, 45, 6]
95회 로또 데이터 저장중...  [8, 17, 27, 31, 34, 43, 14]
96회 로또 데이터 저장중...  [1, 3, 8, 21, 22, 31, 20]
97회 로또 데이터 저장중...  [6, 7, 14, 15, 20, 36, 3]
98회 로또 데이터 저장중...  [6, 9, 16, 23, 24, 32, 43]
99회 로또 데이터 저장중...  [1, 3, 10, 27, 29, 37, 11]
100회 로또 데이터 저장중...  [1, 7, 11, 23, 37, 42, 6]

위 코드를 실행 중에 에러가 발생한다면 아래처럼 span tag를 모두 찾아 추가해야 한다.

In [ ]:
n = 1
url = requests.get(f"https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query={n}%ED%9A%8C%EB%A1%9C%EB%98%90")
if url.status_code != 200:
    print('get error... (code = {})'.format(url.status_code))
html = BeautifulSoup(url.text)

numbers = html.find('div', class_="win_ball").find_all('span') # 모든 span tag를 찾는다
box = []

for i in numbers:
  box.append(int(i.text))

box

[10, 23, 29, 33, 37, 40, 16]

#### 데이터프레임화

In [ ]:
df = pd.DataFrame(total, columns = ['ball1', 'ball2', 'ball3', 'ball4', 'ball5', 'ball6','bonus'])
df

    ball1  ball2  ball3  ball4  ball5  ball6  bonus
0      10     23     29     33     37     40     16
1       9     13     21     25     32     42      2
2      11     16     19     21     27     31     30
3      14     27     30     31     40     42      2
4      16     24     29     40     41     42      3
..    ...    ...    ...    ...    ...    ...    ...
95      1      3      8     21     22     31     20
96      6      7     14     15     20     36      3
97      6      9     16     23     24     32     43
98      1      3     10     27     29     37     11
99      1      7     11     23     37     42      6

[100 rows x 7 columns]

In [ ]:
df.to_excel('lotto.xlsx')

### 증권 정보 예제

'네이버 증권' 코스피, 코스닥 데이터 크롤링

#### 사이트 분석

class=type_2인 table에 증권 정보가 나열되어 있음

In [8]:
url = requests.get('https://finance.naver.com/sise/sise_market_sum.naver?sosok=0&page=1')
html = BeautifulSoup(url.text)

table = html.find('table',class_='type_2')

table = pd.read_html(str(table)) # 문자열로 다시 변환하여 pandas를 이용하여 가져옴
table

[       N       종목명       현재가      전일비     등락률     액면가       시가총액      상장주식수  \
 0    NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN
 1    1.0      삼성전자   67600.0    900.0  -1.31%   100.0  4035573.0  5969783.0
 2    2.0  LG에너지솔루션  525000.0  11000.0  +2.14%   500.0  1228500.0   234000.0
 3    3.0    SK하이닉스  118600.0   3300.0  -2.71%  5000.0   863411.0   728002.0
 4    4.0  삼성바이오로직스  790000.0   3000.0  -0.38%  2500.0   562275.0    71174.0
 ..   ...       ...       ...      ...     ...     ...        ...        ...
 76  49.0    SK바이오팜   91600.0    100.0  +0.11%   500.0    71735.0    78313.0
 77  50.0   삼성엔지니어링   36250.0    600.0  +1.68%  5000.0    71050.0   196000.0
 78   NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN
 79   NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN
 80   NaN       NaN       NaN      NaN     NaN     NaN        NaN        NaN

     외국인비율         거래량     PER    ROE  토론실
 0     NaN         NaN     NaN    NaN  NaN
 1   53.02  14631290.0   10.20  17.07  NaN
 2    5.08    327500.0  117.98   5.75  NaN
 3   52.55   2723598.0  -37.06   3.56  NaN
 4   10.59     40545.0   70.71  11.42  NaN
 ..    ...         ...     ...    ...  ...
 76   7.28    195614.0  -67.30 -36.66  NaN
 77  50.73    617915.0    9.76  28.32  NaN
 78    NaN         NaN     NaN    NaN  NaN
 79    NaN         NaN     NaN    NaN  NaN
 80    NaN         NaN     NaN    NaN  NaN

 [81 rows x 13 columns]]

pandas를 이용하여 표를 한번에 해석할 수 있다.

단 위와 같이 표를 list 형식으로 제공하므로 list의 0번 index에 접근하여 표만 추출할 수 있다

In [9]:
table = table[0]
table

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,67600.0,900.0,-1.31%,100.0,4035573.0,5969783.0,53.02,14631290.0,10.20,17.07,NaN
2,2.0,LG에너지솔루션,525000.0,11000.0,+2.14%,500.0,1228500.0,234000.0,5.08,327500.0,117.98,5.75,NaN
3,3.0,SK하이닉스,118600.0,3300.0,-2.71%,5000.0,863411.0,728002.0,52.55,2723598.0,-37.06,3.56,NaN
4,4.0,삼성바이오로직스,790000.0,3000.0,-0.38%,2500.0,562275.0,71174.0,10.59,40545.0,70.71,11.42,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,SK바이오팜,91600.0,100.0,+0.11%,500.0,71735.0,78313.0,7.28,195614.0,-67.30,-36.66,NaN
77,50.0,삼성엔지니어링,36250.0,600.0,+1.68%,5000.0,71050.0,196000.0,50.73,617915.0,9.76,28.32,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

NaN 값을 처리해보자

함부로 deopNa 함수를 사용하면 안된다. 행에 하나라도 NaN 값이 존재한다면 행 전체를 삭제해버리기 때문

In [12]:
del table['N'] # drop 함수를 사용해도 된다
del table['토론실']

table

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,삼성전자,67600.0,900.0,-1.31%,100.0,4035573.0,5969783.0,53.02,14631290.0,10.20,17.07
2,LG에너지솔루션,525000.0,11000.0,+2.14%,500.0,1228500.0,234000.0,5.08,327500.0,117.98,5.75
3,SK하이닉스,118600.0,3300.0,-2.71%,5000.0,863411.0,728002.0,52.55,2723598.0,-37.06,3.56
4,삼성바이오로직스,790000.0,3000.0,-0.38%,2500.0,562275.0,71174.0,10.59,40545.0,70.71,11.42
...,...,...,...,...,...,...,...,...,...,...,...
76,SK바이오팜,91600.0,100.0,+0.11%,500.0,71735.0,78313.0,7.28,195614.0,-67.30,-36.66
77,삼성엔지니어링,36250.0,600.0,+1.68%,5000.0,71050.0,196000.0,50.73,617915.0,9.76,28.32
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

회사 이름에 NaN 이 있다면 행을 삭제하는 식으로 NaN 값을 의도한대로 처리할 수 있다. 종목명은 무조건 공개되지만 다른 지표는 공개하지 않을 수도 있기 때문

In [13]:
table = table[table['종목명'].notnull()]
table

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
1,삼성전자,67600.0,900.0,-1.31%,100.0,4035573.0,5969783.0,53.02,14631290.0,10.20,17.07
2,LG에너지솔루션,525000.0,11000.0,+2.14%,500.0,1228500.0,234000.0,5.08,327500.0,117.98,5.75
3,SK하이닉스,118600.0,3300.0,-2.71%,5000.0,863411.0,728002.0,52.55,2723598.0,-37.06,3.56
4,삼성바이오로직스,790000.0,3000.0,-0.38%,2500.0,562275.0,71174.0,10.59,40545.0,70.71,11.42
5,POSCO홀딩스,597000.0,36000.0,+6.42%,5000.0,504890.0,84571.0,29.62,1856519.0,23.67,6.11
9,삼성전자우,55700.0,1000.0,-1.76%,100.0,458348.0,822887.0,72.88,756869.0,8.41,NaN
10,LG화학,615000.0,0.0,0.00%,5000.0,434143.0,70592.0,45.92,230182.0,29.51,6.95
11,삼성SDI,614000.0,3000.0,-0.49%,5000.0,422214.0,68765.0,48.92,204268.0,21.24,12.52
12,현대차,188400.0,400.0,+0.21%,5000.0,398525.0,211532.0,32.86,555929.0,5.73,9.36
13,NAVER,223000.0,11500.0,-4.90%,100.0,365829.0,164049.0,47.10,1919966.0,56.80,3.29
17,포스코퓨처엠,447000.0,8000.0,+1.82%,500.0,346261.0,77463.0,8.15,742122.0,285.81,4.87
18,기아,78300.0,700.0,+0.90%,5000.0,314801.0,402044.0,37.89,1513805.0,4.89,14.57
19,카카오,51800.0,900.0,-1.71%,100.0,230128.0,444263.0,26.51,1501419.0,181.12,13.54
20,셀트리온,148000.0,1000.0,-0.67%,1000.0,216658.0,146391.0,20.19,268070.0,37.04,13.35
21,현대모비스,227500.0,1000.0,+0.44%,5000.0,214499.0,94285.0,37.87,252575.0,7.65,6.80
25,KB금융,51800.0,600.0,+1.17%,5000.0,209019.0,403511.0,72.55,914810.0,4.78,9.17
26,삼성물산,103700.0,100.0,+0.10%,100.0,192459.0,185592.0,18.43,195135.0,9.05,7.16
27,신한지주,35650.0,100.0,+0.28%,5000.0,184791.0,518347.0,59.37,1140546.0,4.07,9.70
28,SK이노베이션,191300.0,1100.0,-0.57%,5000.0,176887.0,92466.0,23.61,707244.0,28.29,8.49
29,LG전자,102400.0,700.0,-0.68%,5000.0,167575.0,163648.0,29.16,684528.0,41.98,6.61
33,포스코인터내셔널,87000.0,10600.0,+13.87%,5000.0,153053.0,175923.0,4.94,9865386.0,19.42,15.79
34,삼성생명,71200.0,300.0,+0.42%,500.0,142400.0,200000.0,16.82,117693.0,7.05,5.73
35,카카오뱅크,28300.0,450.0,-1.57%,5000.0,134925.0,476767.0,15.13,1795687.0,45.21,4.68
36,LG,83000.0,500.0,-0.60%,5000.0,130560.0,157301.0,36.20,263485.0,12.09,8.48
37,한국전력,19460.0,180.0,+0.93%,5000.0,124926.0,641964.0,14.69,1304814.0,-0.53,-46.91
41,HD현대중공업,135500.0,1100.0,+0.82%,5000.0,120288.0,88773.0,7.49,90396.0,-61.15,-6.47
42,삼성화재,253000.0,5500.0,+2.22%,500.0,119858.0,47375.0,53.16,70781.0,8.86,9.70
43,KT&G,84100.0,1900.0,-2.21%,5000.0,115463.0,137292.0,43.04,341010.0,11.29,11.00
44,하나금융지주,38450.0,100.0,-0.26%,5000.0,113775.0,295903.0,67.67,1319776.0,3.04,10.06
45,하이브,272000.0,2500.0,-0.91%,500.0,113294.0,41652.0,16.58,1041435.0,255.16,1.87
49,삼성전기,151300.0,1500.0,+1.00%,5000.0,113012.0,74694.0,31.42,363103.0,15.12,13.76
50,SK,153100.0,1100.0,-0.71%,200.0,112067.0,73198.0,22.64,96632.0,-7655.00,5.13
51,두산에너빌리티,16760.0,40.0,-0.24%,5000.0,107358.0,640561.0,12.81,2858512.0,-16.05,-11.70
52,삼성에스디에스,136300.0,4400.0,-3.13%,500.0,105466.0,77378.0,16.08,193812.0,9.55,14.23
53,메리츠금융지주,49800.0,700.0,-1.39%,500.0,103692.0,208218.0,16.20,502067.0,5.37,30.32
57,SK텔레콤,46500.0,300.0,-0.64%,100.0,101757.0,218833.0,41.53,674590.0,10.26,7.97
58,한화오션,46500.0,1250.0,+2.76%,5000.0,100846.0,216873.0,2.89,941020.0,-3.63,-117.79
59,고려아연,505000.0,15000.0,+3.06%,5000.0,100309.0,19863.0,21.09,62952.0,12.90,9.38
60,대한항공,24550.0,800.0,+3.37%,5000.0,90398.0,368221.0,16.27,2249414.0,6.27,21.95
61,S-Oil,77700.0,1500.0,-1.89%,2500.0,87477.0,112583.0,76.69,368833.0,6.04,27.20
65,HD한국조선해양,122900.0,2300.0,+1.91%,5000.0,86980.0,70773.0,23.67,219191.0,-69.55,-2.22
66,HMM,17300.0,110.0,-0.63%,5000.0,84604.0,489039.0,11.41,983628.0,1.17,64.98
67,우리금융지주,11520.0,10.0,-0.09%,5000.0,83873.0,728061.0,37.55,1913765.0,2.61,11.51
68,기업은행,10500.0,20.0,+0.19%,5000.0,83730.0,797426.0,14.00,519981.0,2.95,9.85
69,KT,31950.0,50.0,-0.16%,5000.0,83425.0,261112.0,39.94,1200252.0,7.26,7.99
73,크래프톤,171600.0,2900.0,-1.66%,100.0,82990.0,48363.0,31.87,75166.0,16.13,10.29
74,금양,139900.0,6200.0,-4.24%,500.0,81212.0,58050.0,3.89,3029289.0,-226.38,-24.34
75,삼성중공업,9160.0,270.0,+3.04%,1000.0,80608.0,880000.0,19.09,11188194.0,-15.96,-16.08
76,SK바이오팜,91600.0,100.0,+0.11%,500.0,71735.0,78313.0,7.28,195614.0,-67.30,-36.66
77,삼성엔지니어링,36250.0,600.0,+1.68%,5000.0,71050.0,196000.0,50.73,617915.0,9.76,28.32